.main {
    display: grid;
    gap: 2rem;
    justify-items: center;
    align-content: center;
    justify-content: stretch;
    justify-items: stretch;
    padding: 1rem;
    background: url("/public/soft-rainbow.svg");
}
